.comment{
  margin-top: 12px;
  overflow: hidden;
  padding-left: 42px;
  color: #999;

  &.active{
    display: block;
  }
  &.inactive{
    display: none;
  }

  h3 {
    color: #534540;
  }

  .description {
    list-style-type: none;
  }

  textarea{
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
  }

  .btn-send{
    float:right;
    text-align: center;
    cursor: pointer;
    color: white;
    display: inline-block;
  }

  .commentList {
    -webkit-padding-start: 0;
  }

  .description {
    word-break: break-all;
  }
}
