.navbar-brand {
  letter-spacing: 1px;
  font-size: 20px;
}

.navbar-transparent {
  background: transparent !important;  
}
.navbar-default.navbar {
opacity: 1.0;
border-color: transparent;
}
.navbar-nav{
  li{
    a.txtWhite{
      color: white;
      &:hover{
        color: white; 
      }
    }
  }
}
