.letterSpacing2px { letter-spacing: 2px; }
#banner h1.letterSpacing2px { letter-spacing: 2px; }


.thing-form {
    margin: 20px 0;
}

.navbar-default {
    background: none;
    opacity: 1.0;
    border-color: rgba(0,0,0,0);    
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:focus {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
}

.btnPostCode {
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
    padding: 15px 40px;
    transition: all .2s ease-in-out;
    letter-spacing: 2px;
}

.btnPostCode:hover {
    color: white;
    background-color: rgba(32,151,211, 0.7);
}

.codePostForm {
    width: 100%;
}
.codePostFormInput {
    margin: 10px 0 0 0;
}

.modal-title {
    color: black;
}
.upvoteButton {
    display: block;
    position: relative;
    bottom: 5px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-bottom: 12px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid transparent;
}

.codeList {
    list-style: none;
    padding: none;
    -webkit-padding-start: 0px;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    z-index: 1;
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, rgba(17,16,20,0.7) 0%, rgba(50,50,50,0.7) 100%);
    height: 500px;
}

.heroTop {
    background-image: url(../assets/images/gradientvalley.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -100;
}

.heroContent {
    padding: 25px 0 0 0;
}

.colorBrown {
    color: #534540;
}

.codeListContent {
    padding: 10px 15px;
}

.codeListContent:hover {
    background-color: #fcf5e2;
}

.codeListDescription {
    display: inline-table;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 90%;
}

.codeTitle {
    color: #534540;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

    width:100%;
    word-break: break-all;
}
.codeTitle:hover {
    color: #534540;
}

.codeInfo {
    color: #999999;
    font-size: 17px;
    margin: 5px 0 0 0px;
    display: block;
    line-height: 20px;
    width:100%;
    word-break: break-all;
}

.codeLang {
    color: #3B67B6;
    display: block;
}

.btnUpvote {
    background-color: #3B67B6;
    box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.3),0px 1px 1px 0px rgba(0,0,0,0.2);
    width: 30px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    padding: 0 1px;
    border-radius: 3px;
    color: white;
    display: inline-block;
}

.close {
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
}
.counter {
    font-size: 12px;
    display: block;
    position: relative;
    bottom: 4px;
    color: white;
    font-weight: 600;
}

.counter:hover {
    text-decoration: none;
    color: white;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

textarea.codePostFormInput {
    resize:none;
    max-width: 100%;
    height:200px; 
    min-height:200px;  
    max-height:200px;
}

textarea.codePostFormInput::-webkit-input-placeholder::after {
  display: block;
  content: "\A*Please enter the reason why your code is cool, practical.\A Raw code is hard to understand the logic, and the role in whole code.\A So, write down the explanation of code.\A It'll let others to improve coding skill.";
}

.selectLang {
    margin-top: 8px;
}
