<div class="heroTop">
<header class="hero-unit" id="banner">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container heroContent">
    <h1 class="letterSpacing2px">Read code, like a magazine.</h1>
    <p class="lead">Modern scheme for Hackers' topic sharing.</p>
    <button type="button" class="btn btn-lg btnPostCode" data-toggle="modal" data-target="#myModal">
      POST CODE
    </button>



  </div>
</header>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">    
    <form class="thing-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Post Code</h4>
      </div>
      <div class="modal-body">
    <label></label>
    <p class="input-group codePostForm">
      <input type="text" class="form-control codePostFormInput" placeholder="Title" ng-model="newThingName">
      <input type="text" class="form-control codePostFormInput" placeholder="Url" ng-model="newThingUrl">
      <select class="form-control selectLang" ng-model="newThingLanguage" ng-options="lang for lang in langs">
        <option value="">Select language</option>
      </select>
      <textarea class="codePostFromInput form-control codePostFormInput" placeholder="Introduction of code" ng-model="newThingInfo"></textarea>
    </p>
      </div>
      <div class="modal-footer">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addThing()">Submit</button>
        </span>
      </div>
    </div>
  </form>
  </div>
</div>


<div class="container" ng-repeat="day in days">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3 class="page-header colorBrown">{{day | date: 'yyyy-MM-dd'}}</h3>
      <ul class="codeList" ng-repeat="thing in awesomeThings | orderBy: '-upvotes'">
        <li class="codeListContent" ng-if="thing | dailyLoop:day">
          <button class="btn btnUpvote" ng-click="incrementUpvotes(thing)">
            <a class="upvoteButton"></a>
            <a class="counter">{{thing.upvotes}}</a>
          </button>
          <button type="button" class="close" ng-show="isAdmin()" ng-click="deleteThing(thing)">&times;</button>
          <div class="codeListDescription">
            <a class="codeTitle" target="_blank" href="{{thing.url}}">{{thing.name}}</a>
            <p class="codeLang">{{thing.language}}</p>
            <p class="codeInfo">{{thing.info}}</p>
          </div>

          <react-component name="Comment" />

        </li>
      </ul>
    </div>


    <div class="col-md-1"></div>
  </div>
</div>


<script type="text/jsx">
var Test = React.
</script>

<div>
  <p>{{'text' | dailyLoop }}</p>
</div>

<footer class="footer">
  <div class="container">
      <p>CodeMagnet |
         <a href="https://github.com/timakin/codemagnet_app/issues">Github Issues</a></p>
  </div>
</footer>
<script src="bower_components/bootstrap/js/modal.js"></script>
