.aboutContent {
  padding: 40px 0;
}

.aboutSection {
  padding: 10px 0;
}

.sectionTitle {
  color: #534540;
  font-size: 20px;
}

.sectionContent {
  font-size: 18px;
  color: #988f8c;
}

.txtNavy {
  color: #3B67B6;
}